<ion-view view-title="Setting">
  <ion-content>
  
  <ul class="list">

   <li class="item item-toggle">
     Autoriser les notifications
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li class="item item-toggle">
     Accès sur écran verrouillé
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

 <li class="item item-toggle">
     Message le plus récent en haut
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

 <li class="item item-toggle">
    Marquer les adresses
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>


  <li class="item item-toggle">
     Confirmations de lecture
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
 
</ul>
  
  </ion-content>
</ion-view>
